---
layout: layouts/collection.njk
section: ingredients
pagination:
  data: collections.ingredients
  size: 1
  alias: group
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ group.name }} recipes"
  description: "Recipes with {{ group.name | lower }} from the collection."
permalink: "/ingredients/{{ group.slug }}/"
---
